In [2]:
import pandas as pd 



base_geral = pd.read_csv('data/base_geral_pagamentos.csv')
base_geral

,#,ID,ANO,MÊS,ESCOLA,ITEM,CATEGORIA,PRESTADOR,Tipo,DATA_VENCIMENTO,DATA_PAGAMENTO,VALOR,BALANÇO,STATUS
0,1,202408_01,2024,08. Agosto,Doador 01,Entrada - Doação - Doador 01 - 1/2,Entrada,Doador 01,Entrada,8/7/24,8/7/24,R$ \t150.000,R$ \t150.000,Pago
1,2,202408_02,2024,08. Agosto,Doador 02,Entrada - Doação - Doador 02 - 1/3,Entrada,Doador 02,Entrada,8/9/24,8/9/24,R$ \t333.000,R$ \t483.000,Pago
2,3,202408_07,2024,08. Agosto,Doador 03,Entrada - Doação - Doador 01 - 1/1,Entrada,Doador 03,Entrada,8/12/24,8/12/24,R$ \t500.000,R$ \t983.000,Pago
3,4,202408_22_MOBILIARIO,2024,08. Agosto,EEI Estrelinha do Céu,1/2 - Mobiliário,Mobiliário,Divimobile Mobiliário Corporativo Eirele.,Saída,8/13/24,8/13/24,-R$ \t1.028,R$ \t981.972,Pago
4,5,202408_24_MOBILIARIO,2024,08. Agosto,EEI Estrelinha do Céu,1/2 - Mobiliário,Mobiliário,Representação Fagundes,Saída,8/13/24,8/13/24,-R$ \t14.950,R$ \t967.022,Pago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,76,202411_03,2024,11. Novembro,IEI SÃO VICENTE DE PAULO (CONSERVIR),Parcela 4/4 - Arquitetos Voluntários,Doação Direta,Associação Arquitetos Voluntários,Saída,11/12/24,NaN,-R$ \t50.000,R$ \t952.812,Forecast
77,77,202411_04,2024,11. Novembro,IEI VITÓRIA,Parcela 4/4 - Arquitetos Voluntários,Doação Direta,Associação Arquitetos Voluntários,Saída,11/12/24,NaN,-R$ \t37.500,R$ \t915.312,Forecast
78,78,NaN,2024,NaN,IEI TECNOBABY,Parcela 2/4 - Construtora - Mão de Obra e Mate...,Empreitada - Prestador Próprio,D&G Eletro Soluções,Saída,NaN,NaN,-R$ \t56.851,R$ \t858.461,Forecast
79,79,NaN,2024,NaN,IEI TECNOBABY,Parcela 3/4 - Construtora - Mão de Obra e Mate...,Empreitada - Prestador Próprio,D&G Eletro Soluções,Saída,NaN,NaN,-R$ \t56.851,R$ \t801.610,Forecast
80,80,NaN,2024,NaN,IEI TECNOBABY,Parcela 4/4 - Construtora - Mão de Obra e Mate...,Empreitada - Prestador Próprio,D&G Eletro Soluções,Saída,NaN,NaN,-R$ \t56.851,R$ \t744.759,Forecast

In [4]:
set(base_geral['ESCOLA'])

{'CRECHE NOSSA SENHORA APARECIDA',
 'Doador 01',
 'Doador 02',
 'Doador 03',
 'Doador 04',
 'Doador 05',
 'EEI Estrelinha do Céu',
 'EEI NOSSA SENHORA DOS NAVEGANTES        ',
 'IEI Anjo das Flores',
 'IEI Favo de Mel',
 'IEI IRMÃO MÁRIO FRIGO        ',
 'IEI MUNDO COLORIDO        ',
 'IEI SÃO VICENTE DE PAULO (CONSERVIR)      ',
 'IEI TECNOBABY        ',
 'IEI VILA UNIÃO',
 'IEI VITÓRIA',
 'POPULAR NOVA GERAÇÃO'}

In [44]:
import pandas as pd 



df = pd.read_csv('data/base-geral-pagamentos.csv')

df['VALOR'] = pd.to_numeric(
    df['VALOR']
    .str.replace(r'R\$', '', regex=True)
    .str.replace(' ', '', regex=False)
    .str.replace('-', '', regex=False)
    .str.replace('.', '', regex=False)
    .str.replace(',', '.', regex=False),
    errors='coerce'
)

df = df[df['Tipo'] == 'Saída']

df = df[['VALOR', 'STATUS', 'ESCOLA']]

In [45]:
df

    VALOR    STATUS                           ESCOLA
3    1028      Pago            EEI Estrelinha do Céu
4   14950      Pago            EEI Estrelinha do Céu
5    9992      Pago              IEI Anjo das Flores
6   31413      Pago              IEI Anjo das Flores
7    2175      Pago            EEI Estrelinha do Céu
..    ...       ...                              ...
76  50000  Forecast  IEI SÃO VICENTE DE PAULO
77  37500  Forecast                      IEI VITÓRIA
78  56851  Forecast            IEI TECNOBABY
79  56851  Forecast            IEI TECNOBABY
80  56851  Forecast            IEI TECNOBABY

[73 rows x 3 columns]

In [ ]:
df.to_csv('escolas_doacoes')

In [38]:

df = df[df['Tipo'] == 'Saída']

In [41]:
df[['DATA_VENCIMENTO', 'VALOR']]

   DATA_VENCIMENTO          VALOR
3          8/13/24   -R$ \t1.028
4          8/13/24  -R$ \t14.950
5          8/13/24   -R$ \t9.992
6          8/13/24  -R$ \t31.413
7          8/14/24   -R$ \t2.175
8          8/16/24  -R$ \t10.760
9          8/16/24   -R$ \t7.500
10         8/16/24   -R$ \t1.000
11         8/16/24  -R$ \t30.761
12         8/16/24  -R$ \t67.669
35         8/31/24   -R$ \t1.000

In [4]:
import pandas as pd
import os

# Set the file path
file_path = 'data/Cashflow_Escolas-11.xlsx'
output_dir = 'data'

# Check if the file exists
if not os.path.exists(file_path):
    print(f"Error: The file {file_path} does not exist.")
else:
    # Read the Excel file
    excel_file = pd.ExcelFile(file_path)

    # Get the sheet names
    sheet_names = excel_file.sheet_names

    # Create a dictionary to store dataframes
    dataframes = {}

    # Iterate through each sheet
    for sheet in sheet_names:
        # Read the sheet into a dataframe
        df = pd.read_excel(file_path, sheet_name=sheet)
        
        # Store the dataframe in the dictionary
        dataframes[sheet] = df
        
        # Print the name of the dataframe (sheet name)
        print(f"Dataframe name: {sheet}")

        # Save the dataframe as a CSV file
        csv_file_path = os.path.join(output_dir, f"{sheet}.csv")
        df.to_csv(csv_file_path, index=False)
        print(f"Saved CSV file: {csv_file_path}")

    print(f"\nTotal number of dataframes created and CSV files saved: {len(dataframes)}")

Dataframe name: Planilha2
Saved CSV file: data/Planilha2.csv
Dataframe name: Status
Saved CSV file: data/Status.csv
Dataframe name: Base_Geral_Pagamentos
Saved CSV file: data/Base_Geral_Pagamentos.csv
Dataframe name: Fluxo_Mensal
Saved CSV file: data/Fluxo_Mensal.csv

Total number of dataframes created and CSV files saved: 4